@{



    var notificationModel = ViewData["NotificationModel"] as DotNetsTasks.Models.Others.Notifications;

    if (notificationModel == null)
    {
        if (TempData["NotificationModel"] != null)
        {


           
            notificationModel = Newtonsoft.Json.JsonConvert.DeserializeObject<DotNetsTasks.Models.Others.Notifications>(TempData["NotificationModel"].ToString());

        }
    }
}

@if (notificationModel != null)
{
    <div id="notification-div" class="alert alert-@(notificationModel.Type.ToString().ToLower()) alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <i class="fa fa-times"></i>
        </button>
        <h4>
            <i class="fa @(notificationModel.Icon)"></i>
            @notificationModel.Heading
        </h4>
        @Html.Raw(notificationModel.Message)
    </div>
}

<script type="text/javascript">
    window.setTimeout(function () {
        $('#notification-div .close').trigger('click');
        $('#notification-div .close').on("click", function () {
            $('#notification-div').remove();
        });

    }, 1000);
</script>