@model DotNetTask.Dto.UserDto


<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none">
<head>

	<title>Login - HRMS StudentTechnology</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/admin/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/admin/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/admin/assets/plugins/fontawesome/css/all.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="~/admin/assets/css/line-awesome.min.css">
	<link rel="stylesheet" href="~/admin/assets/css/material.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="~/admin/assets/css/line-awesome.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/admin/assets/css/style.css">

</head>
<body class="account-page">

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div class="account-content">
			<a href="job-list.html" class="btn btn-primary apply-btn">Apply Job</a>
			<div class="container">

				<!-- Account Logo -->
				<div class="account-logo">
					<a href="admin-dashboard.html"><img src="~/admin/assets/img/logo2.png" alt="StudentTechnologies"></a>
				</div>
				<!-- /Account Logo -->

				<div class="account-box">
					<div class="account-wrapper">
						<h3 class="account-title">Login</h3>
						<p class="account-subtitle">Access to our dashboard</p>

						<!-- Account Form -->
						<form asp-controller="Account" asp-action="Login" method="post">
							<div class="input-block mb-4">
								<label class="col-form-label">Email Address</label>
								
								<input type="text" asp-for="Name" name="FullName" class="form-control" />
								<span asp-validation-for="Name" class="text-danger"></span>
		@* 		<div class="invalid-feedback">@Html.ValidationMessageFor(model => model.UserName)</div> *@
							</div>
							<div class="input-block mb-4">
								<div class="row align-items-center">
									<div class="col">
										<label class="col-form-label">Password</label>
									</div>
									<div class="col-auto">
										<a class="text-muted" href="forgot-password.html">
											Forgot password?
										</a>
									</div>
								</div>
								<div class="position-relative">
									<input type="password" asp-for="Password" name="Password" class="form-control" />
									<span asp-validation-for="Password" class="text-danger"></span>
							
							@* 		<div class="invalid-feedback">@Html.ValidationMessageFor(model => model.Password)</div> *@
									<span class="fa-solid fa-eye-slash" id="toggle-password"></span>
								</div>
							</div>
							<div class="input-block mb-4 text-center">
								<button class="btn btn-primary account-btn" type="submit">Login</button>
							</div>
							<div class="account-footer">
								<p>Don't have an account yet? <a href="/Admin/Account/Register">Register</a></p>
							</div>
						</form>
						<!-- /Account Form -->

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="~/admin/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/admin/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Custom JS -->
	<script src="~/admin/assets/js/app.js"></script>

</body>
</html>