@model DotNetTask.Dto.ViewModel.BookDto
@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Areas/Admin/Views/Shared/_adminlayout.cshtml";
}


<div class="page-wrapper">
	@section notification {
		<partial name="_Notification.cshtml" />
	}
	<div class="content container-fluid">
		<div class="row">
			<div class="col-xl-12 d-flex">
				<div class="card flex-fill">
					<div class="card-header">
						<h4 class="card-title mb-0">Add Book</h4>
					</div>
					<div class="card-body">
						<form asp-area="Admin" asp-action="AddBook" asp-controller="Library" method="post" enctype="multipart/form-data">
							<input class="form-control" type="hidden" asp-for="BookId">
							<div class="row">
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label">Subject</label>
										<input class="form-control" type="text" asp-for="Subject">
										<span asp-validation-for="Subject" class="text-danger"></span>
									</div>
									</div>
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label">Book Title</label>
										<input class="form-control" type="text" asp-for="Title">
											<span asp-validation-for="Title" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label">Book Author</label>
										<input class="form-control" type="text" asp-for="Author">
										<span asp-validation-for="Author" class="text-danger"></span>
									</div>
								</div>
								</div>
								
								<div class="row">
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label">Book Genration</label>
										<input class="form-control" type="text" asp-for="Genre">
										<span asp-validation-for="Genre" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label">Book Isbn</label>
										<input class="form-control" type="text" asp-for="Isbn">
											<span asp-validation-for="Isbn" class="text-danger"></span>
									</div>
								</div>
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label">Published Year </label>
										<input class="form-control" type="text" asp-for="PublishedYear">
										<span asp-validation-for="PublishedYear" class="text-danger"></span>
									</div>
								</div>
								</div>
								<div class="row">

							
								<div class="col-md-4">
									<div class="input-block mb-3">
										<label class="col-form-label"> Book Quantity</label>
										<input class="form-control" type="text" asp-for="Quantity">
											<span asp-validation-for="Quantity" class="text-danger"></span>
									</div>
								</div>
							</div>
							

							<div class="submit-section">
								<button type="submit" class="btn btn-primary submit-btn">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>